.leaderboard-position {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Monospace", monospace;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-side {
  display: flex;
  justify-content: left;
  white-space: nowrap;
  overflow: hidden;
}

.content.meta {
  font-size: 0.8rem;
  opacity: 0.9;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.content.meta .left-side {
  white-space: normal;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.position-route-number {
  color: red;
}

.position-route-number.blue {
  color: #4a9eff;
}
