.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  color: red;
  font-family: monospace;
}

.info {
  text-align: center;
  margin: 1rem;
  /* font-family: monospace; */
}
